{% extends 'base.html' %}

{% block body %}
<div style="white-space: nowrap;">
,<div style="display: inline-block;"><h2>This is Algebra 1!! Website under construction. </h2></div>
<div style="display: inline-block; float:right; margin-right: 8%;"><a href="/mathLevel/createtopic"><button style="padding: 12px 28px; color: blue;">New Topic</button></a></div>
</div>
<div class="container" style="margin:50px 25px 50px 25px;">
    <div class="row">
      <div class="col-sm">
       <img src="https://i.ytimg.com/vi/8lT00iLntFc/maxresdefault.jpg" height="300" width="300">
      </div>
      <div class="col-sm">
        <img src="https://i.ytimg.com/vi/8lT00iLntFc/maxresdefault.jpg" height="300" width="300">
      </div>
      <div class="col-sm">
        <img src="https://i.ytimg.com/vi/8lT00iLntFc/maxresdefault.jpg" height="300" width="300">
      </div>
    </div>
  </div>
{% endblock %}