{% extends 'base.html' %}

    {% block body %}
    <div style="white-space: nowrap;">
        ,<div style="display: inline-block;">
            <h2>This is Statistics!! Website under construction. </h2>
        </div>
        <div style="display: inline-block; float:right; margin-right: 8%;"><a href="/mathLevel/createtopic"><button
                    style="padding: 12px 28px; color: blue;">New Topic</button></a></div>
    </div>
    <div class="container" style="margin:50px 25px 50px 25px;">
        <div class="row">
            {% for item in foundTopics %}
            {% if item.mathLevel == "Stats" %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <a href='/mathLevel/topics?id={{ item._id }}'><img style=" width: 100%;
            height: 300px; object-fit: fill;
            " src="{{ item.thumbnail_url }}" alt="Thumbnail"></a>
                    <div class="card-body" style="height: 70px;">
                        <h5 class="card-title">{{ item.newMathTopic }}</h5>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endblock %}