{% extends 'base.html' %}

{% block body %}
<h4 style="text-align: center; font-size: 30px;"><u> Math Topic Form </u></h4>
<br>
<div>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group row">
            {{ form.math_level.label }}
            <div class="col-sm-10">
                {{ form.math_level() }}
                {% for error in form.math_level.errors %}
            </div>
            <br> <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <br>
        <div class="form-group row">
            {{form.topic_name.label }}
            <div class="col-sm-10">
                {{ form.topic_name() }}
                {% for error in form.topic_name.errors %}
                <br> <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="form-group row">
            {{ form.tutorial_video.label }}
            <div class="col-sm-10">
                {{ form.tutorial_video() }}
                {% for error in form.tutorial_video.errors %}
            </div>
            <br> <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <br>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0"> 3 Practice Problems</legend>
                <div class="col-sm-10">
                    <h4>Practice Problem #1:</h4>
                    {{ form.practice_problem_one() }}
                    {% for error in form.practice_problem_one.errors %}
                    <br> <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <br>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Type Answer Here</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="7">
                        </div>

                    </div>
                    <div class="col-sm-10">
                        <h4>Practice Problem #2</h4>
                        {{ form.practice_problem_two() }}
                        {% for error in form.practice_problem_two.errors %}
                        <br> <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        <br>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Type Answer Here</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="7">
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-10">
                        <h4>Practice Problem #3</h4>
                        {{ form.practice_problem_three() }}
                        {% for error in form.practice_problem_three.errors %}
                        <br> <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        <br>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Type Answer Here</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="7">
                            </div>

                        </div>
                    </div>
                </div>
        </fieldset>
        <br>
        <div class="form-group row">
            <div class="col-sm-10">
                {{ form.submit() }}

            </div>
        </div>
    </form>
</div>
{% endblock %}