{% extends "base.html" %}

{% block body %}
<h4>Update Topic</h4>
<form  method="post">
  <div class="row">
  <div class="col-md-4" class="form-check" style="display: inline-block;">
    <div class="card mb-4" style="height: 400px;">
    {% for item in foundTopics %}

    <input type="radio" name="topic" class="form-check-input" value="{{ item._id }}">
    <label class="form-check-label">{{item.mathLevel }}: {{ item.topicName }}</label><br>
    {% endfor %}
    <input type="submit" value="Update A Topic"  class="btn btn-primary mt-auto">
      </div>
    </div>
    <div class="col-md-4" style="display: inline-block; margin-left: 10%;">
      <img src="/static/update.png" width="175%" height="auto">
    </div>
  </div>
  </form>
{% endblock %}